In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

C:\Users\ThinkPad\AppData\Local\Temp\ipykernel_4116\1149312035.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df_agama = pd.read_csv('data/agama.csv')
df_agama.head()

          Kecamatan  Tahun      Agama  Jml_penduduk
0  Magelang Selatan   2019      Islam         38540
1   Magelang Tengah   2019      Islam         33360
2    Magelang Utara   2019      Islam         39015
3     Kota Magelang   2019      Islam        110915
4  Magelang Selatan   2019  Protestan          2961

In [3]:
df_iklim = pd.read_csv('data/iklim.csv')
df_iklim.head()

         Kecamatan     Bulan  Tahun  Jml_curah_hujan  Jml_hari_hujan
0  Magelang Tengah   Januari   2019            875.0            28.0
1  Magelang Tengah  Februari   2019            437.0            23.0
2  Magelang Tengah     Maret   2019            328.0            22.0
3  Magelang Tengah     April   2019            318.0            17.0
4  Magelang Tengah       Mei   2019             42.0             5.0

In [4]:
df_luas = pd.read_csv('data/luas.csv')
df_luas.head()

          Kecamatan  Tahun    Luas  Jml_RT  Jml_RW
0  Magelang Selatan   2019  7.1300     326      70
1    Magelang Utara   2019  6.2900     306      49
2   Magelang Tengah   2019  5.1011     398      73
3  Magelang Selatan   2020  7.1300     326      70
4    Magelang Utara   2020  6.2900     306      49

In [5]:
df_timbangan = pd.read_csv('data/datatimbangan2019_2023.csv')
df_timbangan['supplier'] = df_timbangan['supplier'].str.lower()
df_timbangan.head()

,No,tanggal,hari,bulan,tahun,nopol,barang,supplier,netto_kg,jam,sopir,admin
0,1,31/12/2023,31,12,2023,AA 1975 QH,Sampah,pasar tegalrejo,830,16:43,supomo,Kurniawan BW
1,2,31/12/2023,31,12,2023,AA 1856 QK,Sampah,pasar tegalrejo,990,15:49,prayit,Kurniawan BW
2,3,31/12/2023,31,12,2023,AA 6249 XA,Sampah,dlh kota magelang,300,15:31,tembel,Kurniawan BW
3,4,31/12/2023,31,12,2023,AA 8013 XA,Sampah,pasar rejowinangun,550,15:15,soleh,Kurniawan BW
4,5,31/12/2023,31,12,2023,AA 8022 XA,Sampah,depo tidar selatan,2270,13:51,yusuf,Kurniawan BW

In [6]:
df_supplier = pd.read_csv('data/supplier_fixed.csv')
df_supplier.drop(columns=['notes', 'No'], inplace=True)
df_supplier['Supplier'] = df_supplier['Supplier'].str.replace('Alun-alun Pecinan (magelang tengah)', 'Alun-alun Pecinan').str.lower()
df_supplier.rename(columns={'Supplier': 'supplier'}, inplace=True)
df_supplier.head()

,supplier,Kelurahan,kecamatan,kabkot
0,alun-alun pecinan,Kemiri Rejo,Magelang Tengah,Kota Magelang
1,armada finance magelang,Tidar Selatan,Magelang Selatan,Kota Magelang
2,catering sari,Jurangombo Selatan,Magelang Selatan,Kota Magelang
3,cengkeh 55 magelang,Tidar Utara,Magelang Selatan,Kota Magelang
4,depo cacaban,Cacaban,Magelang Tengah,Kota Magelang

# Gabung df_timbangan dengan df_supplier

In [7]:
df_timbangan_supplier = pd.merge(df_timbangan, df_supplier, how='left', on='supplier')
df_timbangan_supplier = df_timbangan_supplier[df_timbangan_supplier['kecamatan'].notna()]
df_timbangan_supplier.head(10)

,No,tanggal,hari,bulan,tahun,nopol,barang,supplier,netto_kg,jam,sopir,admin,Kelurahan,kecamatan,kabkot
0,1,31/12/2023,31,12,2023,AA 1975 QH,Sampah,pasar tegalrejo,830,16:43,supomo,Kurniawan BW,Tegalrejo,Kecamatan Tegalrejo,Kabupaten Magelang
1,2,31/12/2023,31,12,2023,AA 1856 QK,Sampah,pasar tegalrejo,990,15:49,prayit,Kurniawan BW,Tegalrejo,Kecamatan Tegalrejo,Kabupaten Magelang
2,3,31/12/2023,31,12,2023,AA 6249 XA,Sampah,dlh kota magelang,300,15:31,tembel,Kurniawan BW,Kedungsari,Magelang Utara,Kota Magelang
3,4,31/12/2023,31,12,2023,AA 8013 XA,Sampah,pasar rejowinangun,550,15:15,soleh,Kurniawan BW,Rejowinangun Selatan,Magelang Selatan,Kota Magelang
4,5,31/12/2023,31,12,2023,AA 8022 XA,Sampah,depo tidar selatan,2270,13:51,yusuf,Kurniawan BW,Tidar Utara,Magelang Selatan,Kota Magelang
5,6,31/12/2023,31,12,2023,AA 9574 FA,Sampah,dlh kota magelang,500,11:49,indra,Eksta Gama Pratama Y,Kedungsari,Magelang Utara,Kota Magelang
6,7,31/12/2023,31,12,2023,AA 8022 XA,Sampah,depo magersari,1620,11:42,yusuf,Eksta Gama Pratama Y,Magersari,Magelang Selatan,Kota Magelang
7,8,31/12/2023,31,12,2023,AA 8114 XA,Sampah,depo cacaban,6250,11:04,agus,Eksta Gama Pratama Y,Cacaban,Magelang Tengah,Kota Magelang
8,9,31/12/2023,31,12,2023,AA 8013 XA,Sampah,pasar rejowinangun,2580,10:19,soleh,Eksta Gama Pratama Y,Rejowinangun Selatan,Magelang Selatan,Kota Magelang
9,10,31/12/2023,31,12,2023,AA 8113 XA,Sampah,depo taruma negara,3670,9:26,ahmad,Eksta Gama Pratama Y,Rejowinangun Utara,Magelang Tengah,Kota Magelang

In [8]:
df_timbangan_supplier.to_csv('data/manipulated/timbangan_supplier.csv', index=False)

In [9]:
df_timbangan_supplier.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73233 entries, 0 to 78178
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   No         73233 non-null  int64
 1   tanggal    73233 non-null  object
 2   hari       73233 non-null  int64
 3   bulan      73233 non-null  int64
 4   tahun      73233 non-null  int64
 5   nopol      73233 non-null  object
 6   barang     73233 non-null  object
 7   supplier   73233 non-null  object
 8   netto_kg   73233 non-null  object
 9   jam        73233 non-null  object
 10  sopir      72908 non-null  object
 11  admin      62840 non-null  object
 12  Kelurahan  73233 non-null  object
 13  kecamatan  73233 non-null  object
 14  kabkot     73233 non-null  object
dtypes: int64(4), object(11)
memory usage: 8.9+ MB

In [10]:
df_timbangan_supplier['kecamatan'].value_counts()

kecamatan
Magelang Utara         33499
Magelang Selatan       18801
Magelang Tengah        12038
Kecamatan Tegalrejo     8889
-                          6
Name: count, dtype: int64

# Gabung df_timbangan_supplier dengan curah hujan

In [11]:
df_ts_cleaned = df_timbangan_supplier.copy()
df_ts_cleaned = df_ts_cleaned[df_ts_cleaned['kecamatan'] != 'Kecamatan Tegalrejo']
df_ts_cleaned = df_ts_cleaned[df_ts_cleaned['kecamatan'] != '-']
df_ts_cleaned['kecamatan'] = df_ts_cleaned['kecamatan'].str.strip()
df_ts_cleaned['kecamatan'].value_counts()

kecamatan
Magelang Utara      33499
Magelang Selatan    18801
Magelang Tengah     12038
Name: count, dtype: int64

In [12]:
df_ts_cleaned.head()

,No,tanggal,hari,bulan,tahun,nopol,barang,supplier,netto_kg,jam,sopir,admin,Kelurahan,kecamatan,kabkot
2,3,31/12/2023,31,12,2023,AA 6249 XA,Sampah,dlh kota magelang,300,15:31,tembel,Kurniawan BW,Kedungsari,Magelang Utara,Kota Magelang
3,4,31/12/2023,31,12,2023,AA 8013 XA,Sampah,pasar rejowinangun,550,15:15,soleh,Kurniawan BW,Rejowinangun Selatan,Magelang Selatan,Kota Magelang
4,5,31/12/2023,31,12,2023,AA 8022 XA,Sampah,depo tidar selatan,2270,13:51,yusuf,Kurniawan BW,Tidar Utara,Magelang Selatan,Kota Magelang
5,6,31/12/2023,31,12,2023,AA 9574 FA,Sampah,dlh kota magelang,500,11:49,indra,Eksta Gama Pratama Y,Kedungsari,Magelang Utara,Kota Magelang
6,7,31/12/2023,31,12,2023,AA 8022 XA,Sampah,depo magersari,1620,11:42,yusuf,Eksta Gama Pratama Y,Magersari,Magelang Selatan,Kota Magelang

In [13]:
bulan_mapping = {
    'Januari': 1,
    'Februari': 2,
    'Maret': 3,
    'April': 4,
    'Mei': 5,
    'Juni': 6,
    'Juli': 7,
    'Agustus': 8,
    'September': 9,
    'Oktober': 10,
    'November': 11,
    'Desember': 12
}
df_iklim_cleaned = df_iklim.copy()
df_iklim_cleaned.rename(columns={'Kecamatan':'kecamatan', 'Bulan':'bulan', 'Tahun':'tahun', 'Jml_curah_hujan':'jml_curah_hujan', 'Jml_hari_hujan':'jml_hari_hujan'}, inplace=True)
df_iklim_cleaned['bulan'] = df_iklim_cleaned['bulan'].map(bulan_mapping)
df_iklim_cleaned.head()

         kecamatan  bulan  tahun  jml_curah_hujan  jml_hari_hujan
0  Magelang Tengah      1   2019            875.0            28.0
1  Magelang Tengah      2   2019            437.0            23.0
2  Magelang Tengah      3   2019            328.0            22.0
3  Magelang Tengah      4   2019            318.0            17.0
4  Magelang Tengah      5   2019             42.0             5.0

In [14]:
df_tsi = pd.merge(df_ts_cleaned, df_iklim_cleaned, how='left', on=['kecamatan', 'bulan', 'tahun'])
df_tsi.rename(columns={'Kelurahan':'kelurahan', 'jml_curah_hujan':'curah_hujan_kecamatan', 'jml_hari_hujan':'hari_hujan_kecamatan'}, inplace=True)
df_tsi.head()

,No,tanggal,hari,bulan,tahun,nopol,barang,supplier,netto_kg,jam,sopir,admin,kelurahan,kecamatan,kabkot,curah_hujan_kecamatan,hari_hujan_kecamatan
0,3,31/12/2023,31,12,2023,AA 6249 XA,Sampah,dlh kota magelang,300,15:31,tembel,Kurniawan BW,Kedungsari,Magelang Utara,Kota Magelang,NaN,NaN
1,4,31/12/2023,31,12,2023,AA 8013 XA,Sampah,pasar rejowinangun,550,15:15,soleh,Kurniawan BW,Rejowinangun Selatan,Magelang Selatan,Kota Magelang,NaN,NaN
2,5,31/12/2023,31,12,2023,AA 8022 XA,Sampah,depo tidar selatan,2270,13:51,yusuf,Kurniawan BW,Tidar Utara,Magelang Selatan,Kota Magelang,NaN,NaN
3,6,31/12/2023,31,12,2023,AA 9574 FA,Sampah,dlh kota magelang,500,11:49,indra,Eksta Gama Pratama Y,Kedungsari,Magelang Utara,Kota Magelang,NaN,NaN
4,7,31/12/2023,31,12,2023,AA 8022 XA,Sampah,depo magersari,1620,11:42,yusuf,Eksta Gama Pratama Y,Magersari,Magelang Selatan,Kota Magelang,NaN,NaN

In [15]:
df_tsi.to_csv('data/manipulated/tsi.csv', index=False)

# Gabungkan df_luas dengan df_agama

In [16]:
df_populasi = df_agama.copy()
df_populasi = df_populasi.groupby(['Kecamatan', 'Tahun'], as_index=False).sum().drop(columns='Agama')
df_populasi

          Kecamatan  Tahun  Jml_penduduk
0     Kota Magelang   2019        130440
1     Kota Magelang   2020        128020
2  Magelang Selatan   2019         43129
3  Magelang Selatan   2020         42224
4   Magelang Tengah   2019         37908
5   Magelang Tengah   2020         48167
6    Magelang Utara   2019         49403
7    Magelang Utara   2020         37629

In [17]:
df_luas_populasi = pd.merge(df_luas, df_populasi, 'outer', on=['Kecamatan', 'Tahun'])
df_luas_populasi.sort_values(by=['Kecamatan', 'Tahun'])
df_luas_populasi

           Kecamatan  Tahun    Luas  Jml_RT  Jml_RW  Jml_penduduk
0      Kota Magelang   2019     NaN     NaN     NaN      130440.0
1      Kota Magelang   2020     NaN     NaN     NaN      128020.0
2   Magelang Selatan   2019  7.1300   326.0    70.0       43129.0
3   Magelang Selatan   2020  7.1300   326.0    70.0       42224.0
4   Magelang Selatan   2021  7.1300   326.0    70.0           NaN
5    Magelang Tengah   2019  5.1011   398.0    73.0       37908.0
6    Magelang Tengah   2020  5.1011   398.0    73.0       48167.0
7    Magelang Tengah   2021  5.1011   398.0    73.0           NaN
8     Magelang Utara   2019  6.2900   306.0    49.0       49403.0
9     Magelang Utara   2020  6.2900   306.0    49.0       37629.0
10    Magelang Utara   2021  6.2900   306.0    49.0           NaN

In [18]:
df_luas_populasi.to_csv('data/manipulated/luas_populasi.csv', index=False)

# Gabungkan df_tsi dengan df_luas_populasi

In [19]:
df_tsilp = pd.merge(df_tsi, df_luas_populasi.rename(columns={'Kecamatan':'kecamatan', 'Tahun':'tahun'}), 'left', on=['kecamatan', 'tahun'])
df_tsilp.head()

,No,tanggal,hari,bulan,tahun,nopol,barang,supplier,netto_kg,jam,sopir,admin,kelurahan,kecamatan,kabkot,curah_hujan_kecamatan,hari_hujan_kecamatan,Luas,Jml_RT,Jml_RW,Jml_penduduk
0,3,31/12/2023,31,12,2023,AA 6249 XA,Sampah,dlh kota magelang,300,15:31,tembel,Kurniawan BW,Kedungsari,Magelang Utara,Kota Magelang,NaN,NaN,NaN,NaN,NaN,NaN
1,4,31/12/2023,31,12,2023,AA 8013 XA,Sampah,pasar rejowinangun,550,15:15,soleh,Kurniawan BW,Rejowinangun Selatan,Magelang Selatan,Kota Magelang,NaN,NaN,NaN,NaN,NaN,NaN
2,5,31/12/2023,31,12,2023,AA 8022 XA,Sampah,depo tidar selatan,2270,13:51,yusuf,Kurniawan BW,Tidar Utara,Magelang Selatan,Kota Magelang,NaN,NaN,NaN,NaN,NaN,NaN
3,6,31/12/2023,31,12,2023,AA 9574 FA,Sampah,dlh kota magelang,500,11:49,indra,Eksta Gama Pratama Y,Kedungsari,Magelang Utara,Kota Magelang,NaN,NaN,NaN,NaN,NaN,NaN
4,7,31/12/2023,31,12,2023,AA 8022 XA,Sampah,depo magersari,1620,11:42,yusuf,Eksta Gama Pratama Y,Magersari,Magelang Selatan,Kota Magelang,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df_tsilp.to_csv('data/manipulated/tsilp.csv', index=False)

In [8]:
df_tsilp = pd.read_csv('data/manipulated/tsilp.csv')

## Drop Outlier and Fill Null

In [9]:
def remove_outliers_iqr(df, column_name, threshold=1.5):
    # Calculate the first quartile (Q1) and third quartile (Q3)
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)

    # Calculate the interquartile range (IQR)
    IQR = Q3 - Q1

    # Define the lower and upper bounds for identifying outliers
    lower_bound = Q1 - threshold * IQR
    upper_bound = Q3 + threshold * IQR

    # Filter the DataFrame to exclude outliers
    df_filtered = df[(df[column_name] >= lower_bound) & (df[column_name] <= upper_bound)]

    return df_filtered

In [10]:
def fill_null_values(df):
    for column in df.columns:
        if df[column].dtype == 'object':
            # For categorical columns, fill null values with mode
            mode_val = df[column].mode()[0]
            df.loc[df[column].isnull(), column] = mode_val
        elif pd.api.types.is_numeric_dtype(df[column]):
            # For numeric columns, fill null values with median
            median_val = df[column].median()
            df.loc[df[column].isnull(), column] = median_val
    return df

In [12]:
df_cleaned = fill_null_values(remove_outliers_iqr(df_tsilp, 'netto_kg'))
df_cleaned.loc[:, ['kelurahan', 'kecamatan']] = df_cleaned.loc[:, ['kelurahan', 'kecamatan']].apply(lambda x: x.str.title() if x.dtype == 'object' else x)

In [13]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60962 entries, 0 to 64337
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   No                     60962 non-null  int64
 1   tanggal                60962 non-null  object
 2   hari                   60962 non-null  int64
 3   bulan                  60962 non-null  int64
 4   tahun                  60962 non-null  int64
 5   nopol                  60962 non-null  object
 6   barang                 60962 non-null  object
 7   supplier               60962 non-null  object
 8   netto_kg               60962 non-null  int64
 9   jam                    60962 non-null  object
 10  sopir                  60962 non-null  object
 11  admin                  60962 non-null  object
 12  kelurahan              60962 non-null  object
 13  kecamatan              60962 non-null  object
 14  kabkot                 60962 non-null  object
 15  curah_hujan_kecamatan  60962 non-null  float64
 16  hari_hujan_kecamatan   60962 non-null  float64
 17  Luas                   60962 non-null  float64
 18  Jml_RT                 60962 non-null  float64
 19  Jml_RW                 60962 non-null  float64
 20  Jml_penduduk           60962 non-null  float64
dtypes: float64(6), int64(5), object(10)
memory usage: 10.2+ MB

In [14]:
df_cleaned.head()

,No,tanggal,hari,bulan,tahun,nopol,barang,supplier,netto_kg,jam,sopir,admin,kelurahan,kecamatan,kabkot,curah_hujan_kecamatan,hari_hujan_kecamatan,Luas,Jml_RT,Jml_RW,Jml_penduduk
0,3,31/12/2023,31,12,2023,AA 6249 XA,Sampah,dlh kota magelang,300,15:31,tembel,Kurniawan BW,Kedungsari,Magelang Utara,Kota Magelang,211.0,17.0,6.29,306.0,49.0,42224.0
1,4,31/12/2023,31,12,2023,AA 8013 XA,Sampah,pasar rejowinangun,550,15:15,soleh,Kurniawan BW,Rejowinangun Selatan,Magelang Selatan,Kota Magelang,211.0,17.0,6.29,306.0,49.0,42224.0
2,5,31/12/2023,31,12,2023,AA 8022 XA,Sampah,depo tidar selatan,2270,13:51,yusuf,Kurniawan BW,Tidar Utara,Magelang Selatan,Kota Magelang,211.0,17.0,6.29,306.0,49.0,42224.0
3,6,31/12/2023,31,12,2023,AA 9574 FA,Sampah,dlh kota magelang,500,11:49,indra,Eksta Gama Pratama Y,Kedungsari,Magelang Utara,Kota Magelang,211.0,17.0,6.29,306.0,49.0,42224.0
4,7,31/12/2023,31,12,2023,AA 8022 XA,Sampah,depo magersari,1620,11:42,yusuf,Eksta Gama Pratama Y,Magersari,Magelang Selatan,Kota Magelang,211.0,17.0,6.29,306.0,49.0,42224.0

In [15]:
df_cleaned['kelurahan'].value_counts()

kelurahan
Kedungsari              16818
Potrobangsan             6107
Kramat Utara             4264
Magersari                4145
-                        3751
Jurangombo Utara         2943
Kemiri Rejo              2435
Rejowinangun Selatan     2417
Tidar Utara              2398
Tidar Selatan            2359
Wates                    2063
Magelang                 1984
Kramat Selatan           1979
Jurangombo Selatan       1761
Panjang                  1744
Jurangombo               1496
Gelangan                 1264
Cacaban                   551
Rejowinangun Utara        483
Name: count, dtype: int64

In [16]:
df_cleaned.to_csv('data/manipulated/metadata_cleaned.csv', index=False)

In [64]:
df_aggregated = df_cleaned.copy()
df_aggregated.loc[:, ['kelurahan', 'kecamatan']] = df_aggregated.loc[:, ['kelurahan', 'kecamatan']].apply(lambda x: x.str.title() if x.dtype == 'object' else x)
df_aggregated = df_aggregated.groupby(['tanggal', 'kelurahan', 'kecamatan']).agg(
    {
        'netto_kg': 'sum',
        'Luas': 'mean',
        'curah_hujan_kecamatan': 'mean',
        'hari_hujan_kecamatan': 'mean',
        'Jml_RT': 'mean',
        'Jml_RW': 'mean',
        'Jml_penduduk': 'mean'
    }
).reset_index()
df_aggregated.head()

,tanggal,kelurahan,kecamatan,netto_kg,Luas,curah_hujan_kecamatan,hari_hujan_kecamatan,Jml_RT,Jml_RW,Jml_penduduk
0,01/01/2020,-,Magelang Selatan,2280,7.1300,503.0,21.0,326.0,70.0,42224.0
1,01/01/2020,Jurangombo,Magelang Tengah,3270,5.1011,503.0,21.0,398.0,73.0,48167.0
2,01/01/2020,Jurangombo Utara,Magelang Selatan,6820,7.1300,503.0,21.0,326.0,70.0,42224.0
3,01/01/2020,Kedungsari,Magelang Utara,2705,6.2900,503.0,21.0,306.0,49.0,37629.0
4,01/01/2020,Kemiri Rejo,Magelang Tengah,2350,5.1011,503.0,21.0,398.0,73.0,48167.0

In [65]:
df_aggregated['kelurahan'].value_counts()

kelurahan
-                       3142
Kedungsari              1761
Magersari               1672
Kramat Utara            1584
Jurangombo Utara        1569
Rejowinangun Selatan    1563
Wates                   1557
Potrobangsan            1537
Panjang                 1497
Kemiri Rejo             1444
Jurangombo              1421
Tidar Selatan           1367
Kramat Selatan          1366
Magelang                1318
Tidar Utara             1251
Gelangan                1117
Jurangombo Selatan      1111
Cacaban                  484
Rejowinangun Utara       474
Name: count, dtype: int64

In [66]:
df_aggregated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27235 entries, 0 to 27234
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   tanggal                27235 non-null  object
 1   kelurahan              27235 non-null  object
 2   kecamatan              27235 non-null  object
 3   netto_kg               27235 non-null  int64
 4   Luas                   27235 non-null  float64
 5   curah_hujan_kecamatan  27235 non-null  float64
 6   hari_hujan_kecamatan   27235 non-null  float64
 7   Jml_RT                 27235 non-null  float64
 8   Jml_RW                 27235 non-null  float64
 9   Jml_penduduk           27235 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 2.1+ MB

In [67]:
df_aggregated.to_csv('data/manipulated/metadata_aggregated.csv', index=False)

# Join Lotitude Langitude each Kelurahan

In [2]:
df_cleaned = pd.read_csv('data/manipulated/metadata_cleaned.csv')
df_cleaned.head()

,No,tanggal,hari,bulan,tahun,nopol,barang,supplier,netto_kg,jam,sopir,admin,kelurahan,kecamatan,kabkot,curah_hujan_kecamatan,hari_hujan_kecamatan,Luas,Jml_RT,Jml_RW,Jml_penduduk
0,3,31/12/2023,31,12,2023,AA 6249 XA,Sampah,dlh kota magelang,300,15:31,tembel,Kurniawan BW,Kedungsari,Magelang Utara,Kota Magelang,211.0,17.0,6.29,306.0,49.0,42224.0
1,4,31/12/2023,31,12,2023,AA 8013 XA,Sampah,pasar rejowinangun,550,15:15,soleh,Kurniawan BW,Rejowinangun Selatan,Magelang Selatan,Kota Magelang,211.0,17.0,6.29,306.0,49.0,42224.0
2,5,31/12/2023,31,12,2023,AA 8022 XA,Sampah,depo tidar selatan,2270,13:51,yusuf,Kurniawan BW,Tidar Utara,Magelang Selatan,Kota Magelang,211.0,17.0,6.29,306.0,49.0,42224.0
3,6,31/12/2023,31,12,2023,AA 9574 FA,Sampah,dlh kota magelang,500,11:49,indra,Eksta Gama Pratama Y,Kedungsari,Magelang Utara,Kota Magelang,211.0,17.0,6.29,306.0,49.0,42224.0
4,7,31/12/2023,31,12,2023,AA 8022 XA,Sampah,depo magersari,1620,11:42,yusuf,Eksta Gama Pratama Y,Magersari,Magelang Selatan,Kota Magelang,211.0,17.0,6.29,306.0,49.0,42224.0

In [3]:
df_long_lat = pd.read_csv('data/kelurahan_longitude_latitude.csv')
df_long_lat.head()

              kelurahan  latitude   longitude
0            Kedungsari -7.451982  110.225581
1             Magersari -7.492647  110.218715
2          Kramat Utara -7.442315  110.222145
3      Jurangombo Utara -7.488670  110.209837
4  Rejowinangun Selatan -7.488058  110.224184

In [4]:
df_cleaned_long_lat = pd.merge(df_cleaned, df_long_lat, how='left', on='kelurahan')
df_cleaned_long_lat.dropna(inplace=True)
df_cleaned_long_lat.head()

,No,tanggal,hari,bulan,tahun,nopol,barang,supplier,netto_kg,jam,sopir,admin,kelurahan,kecamatan,kabkot,curah_hujan_kecamatan,hari_hujan_kecamatan,Luas,Jml_RT,Jml_RW,Jml_penduduk,latitude,longitude
0,3,31/12/2023,31,12,2023,AA 6249 XA,Sampah,dlh kota magelang,300,15:31,tembel,Kurniawan BW,Kedungsari,Magelang Utara,Kota Magelang,211.0,17.0,6.29,306.0,49.0,42224.0,-7.451982,110.225581
1,4,31/12/2023,31,12,2023,AA 8013 XA,Sampah,pasar rejowinangun,550,15:15,soleh,Kurniawan BW,Rejowinangun Selatan,Magelang Selatan,Kota Magelang,211.0,17.0,6.29,306.0,49.0,42224.0,-7.488058,110.224184
2,5,31/12/2023,31,12,2023,AA 8022 XA,Sampah,depo tidar selatan,2270,13:51,yusuf,Kurniawan BW,Tidar Utara,Magelang Selatan,Kota Magelang,211.0,17.0,6.29,306.0,49.0,42224.0,-7.490757,110.229768
3,6,31/12/2023,31,12,2023,AA 9574 FA,Sampah,dlh kota magelang,500,11:49,indra,Eksta Gama Pratama Y,Kedungsari,Magelang Utara,Kota Magelang,211.0,17.0,6.29,306.0,49.0,42224.0,-7.451982,110.225581
4,7,31/12/2023,31,12,2023,AA 8022 XA,Sampah,depo magersari,1620,11:42,yusuf,Eksta Gama Pratama Y,Magersari,Magelang Selatan,Kota Magelang,211.0,17.0,6.29,306.0,49.0,42224.0,-7.492647,110.218715

In [5]:
df_cleaned_long_lat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 57211 entries, 0 to 60961
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   No                     57211 non-null  int64
 1   tanggal                57211 non-null  object
 2   hari                   57211 non-null  int64
 3   bulan                  57211 non-null  int64
 4   tahun                  57211 non-null  int64
 5   nopol                  57211 non-null  object
 6   barang                 57211 non-null  object
 7   supplier               57211 non-null  object
 8   netto_kg               57211 non-null  int64
 9   jam                    57211 non-null  object
 10  sopir                  57211 non-null  object
 11  admin                  57211 non-null  object
 12  kelurahan              57211 non-null  object
 13  kecamatan              57211 non-null  object
 14  kabkot                 57211 non-null  object
 15  curah_hujan_kecamatan  57211 non-null  float64
 16  hari_hujan_kecamatan   57211 non-null  float64
 17  Luas                   57211 non-null  float64
 18  Jml_RT                 57211 non-null  float64
 19  Jml_RW                 57211 non-null  float64
 20  Jml_penduduk           57211 non-null  float64
 21  latitude               57211 non-null  float64
 22  longitude              57211 non-null  float64
dtypes: float64(8), int64(5), object(10)
memory usage: 10.5+ MB

In [6]:
df_cleaned_long_lat.to_csv('data/manipulated/metadata_with_long_lat.csv', index=False)